*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--el-text-color-primary);
  background: var(--el-bg-color);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: var(--el-font-size-medium);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
.green {
  /* text-decoration: none; */
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  /*@media (hover: hover) 部分是媒体查询的条件，它检查设备是否支持悬停功能。如果设备支持悬停功能，则嵌套在媒体查询内的样式将生效。*/
  /* a:hover {
    background-color: #808be9;
  } */
  /* background-color: hsla(160, 100%, 37%, 0.2); */
}

/* scroll bar */
/* ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--el-border-color-dark);
  border-radius: 20px;
} */

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.3s;
}
.fade-transform-enter-from {
  opacity: 0;
  transform: translateX(-1000px);
}
.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(1000px);
}

.h-full {
  height: 100% !important;
}
.page-card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-radius: 0.375rem;
}
