.xgplayer-playlist-button {
  color: #fff;
  line-height: 40px;
  margin-right: 16px;
}

.xgplayer-playlist-drawer {
  width: 30%;
  min-width: 150px;
  max-width: 400px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
